**/obj/
**/bin/

.idea/
*.sln.iml
*.iws
*.ipr

.vs/
*.user
*.suo

*.nupkg
*.snupkg

*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets
project.assets.json
project.nuget.cache
project.packagespec.json

rider.project.model.nuget.info
rider.project.restore.info

.DS_Store