.board-page-container {
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;

    p {
        margin: 0;
    }

    .card-list-container {
        width: max-content;
        height: 100%;
        display: flex;
        column-gap: 10px;
        padding: 10px;
        box-sizing: border-box;

        .card-list-item {
            width: fit-content;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.63);

            display: flex;
            border-radius: 10px;
            flex-direction: column;
            padding: 10px;


            .card-list-cards {
                width: 400px;
                height: 90%;
                margin-top: auto;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                padding: 10px;
                box-sizing: border-box;
                overflow-x: hidden;

                .card {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    color: black;
                    border-radius: 10px;
                    background-color: azure;
                    box-sizing: border-box;
                    row-gap: 10px;
                    //position: relative;

                    div.card-task {
                        padding: 0;
                        margin: 0;

                        textarea {
                            width: 100%;
                            max-width: 100%;
                            background-color: white;
                            border: none;
                            border-radius: 10px;
                            font-size: 17px;
                            box-sizing: border-box;
                            color: black;
                            outline: none;
                            resize: none;
                        }

                        p {
                            width: 100%;
                            font-size: 17px;
                            text-align: start;
                        }

                    }


                    div.card-information {
                        width: 100%;
                        height: 40px;
                        display: flex;

                        .card-deadline {
                            width: max-content;
                            padding: 3px 5px;
                            border-radius: 10px;
                            box-sizing: border-box;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            cursor: pointer;

                            p {
                                font-size: 17px;
                            }

                            input {
                                width: 170px;
                                font-size: 17px;
                                border-radius: 10px;
                                border: none;
                                outline: none;
                            }
                        }

                        .card-settings-buttons {

                            margin-left: auto;
                            display: flex;
                            align-items: center;
                            box-sizing: content-box;
                            column-gap: 5px;

                            button {
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                padding: 5px;
                                border-radius: 10px;
                                box-sizing: border-box;
                                outline: none;
                                border: none;
                                background-color: azure;

                                &:hover {
                                    background-color: rgb(205, 223, 223);
                                }


                                img {
                                    width: 100%;
                                    height: 100%;
                                    align-self: center;
                                }
                            }

                            button.inactive {
                                background-color: azure;

                                &:hover {
                                    background-color: rgb(205, 223, 223);
                                }
                            }

                            button.active {
                                background-color: rgb(205, 223, 223);
                            }
                        }

                        .creator-of-card {
                            margin-left: auto;
                            position: relative;

                            img {
                                width: 40px;
                                height: 40px;

                                padding: 5px;
                                border-radius: 30px;
                                box-sizing: border-box;
                                border: 1px solid gray;
                                cursor: pointer;

                                &:hover {
                                    border-style: dashed;
                                }
                            }

                            .dropdown-user-name {
                                background-color: white;
                                border-radius: 10px;
                                padding: 5px 10px;
                                box-sizing: border-box;
                                position: absolute;
                            }
                        }




                    }



                }
            }


        }
    }
}