@mixin defaultButton($buttonWidth, $font_size) {
    width: $buttonWidth;
    font-size: $font_size;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px 10px;
    background-color: #0052CC;
    color: white;
    margin-top: auto;
    align-self: center;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        background-color: #004ab9;
    }
}

@mixin defaultInput() {
    font-size: 21px;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 5px;

    &:focus {
        border: 2px solid #0052CC;
    }
}