@mixin defaultButton($buttonWidth, $font_size) {
    width: $buttonWidth;
    font-size: $font_size;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    margin-top: auto;
    align-self: center;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #004ab9;
    }
}

@mixin defaultInput() {
    font-size: 21px;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 5px;

    &:focus {
        border-color: #0052CC;
        box-shadow: 0 0 4px rgba(0, 82, 204, 0.5);
    }
}
