@use '../general/general-style.scss' as *;

@media screen and (max-width: 500px) {
    .menu-container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 500px) {
    .menu-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width:1200px) {
    .menu-item {
        font-size: 20px;
    }
}

@media screen and (min-width:1000px) and (max-width:1200px) {
    .menu-item {
        font-size: 18px;
        font-weight: bold;
    }
}

@media screen and (max-width: 999px) {
    .menu-item {
        font-size: 15px;
        font-weight: bold;
    }

    .menu-authentication-buttons {
        width: auto;
        display: flex;
        column-gap: 10px;
        margin-left: auto;

        button {
            @include defaultButton(50px, 15px)
        }

    }

    .hiden-menu-icon {
        width: 30px;
        height: 30px;
    }
}

.menu-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);

    column-gap: 35px;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;


    .menu-container-icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        p {
            font-size: 20px;
            font-weight: bold;
            margin: 0;
            margin-top: 15px;
            margin-left: -7px;
        }
    }

    .menu-container-items {
        width: 90%;
        height: 100%;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        overflow-x: hidden;
        flex-grow: 1;
        font-weight: bold;

        .menu-item {
            @include menuItem();
        }
    }

    .menu-authentication-buttons {
        width: auto;
        display: flex;
        column-gap: 10px;
        margin-left: auto;

        button {
            @include defaultButton(100px, 21px);
        }
    }

    .hiden-menu-icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        margin-left: auto;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }
    }
}