@use '../general/general-style.scss' as *;

@media screen and (max-width: 500px) {
    .menu-container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 500px) {
    .menu-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.menu-container {
    width: 100%;
    height: 10%;
    position: sticky;
    display: flex;
    align-items: center;
    background-color: aliceblue;

    column-gap: 35px;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;


    .menu-container-icon {
        width: 100px;
        height: 100%;

        img {
            width: 100px;
            height: 100%;
        }
    }

    .menu-container-items {
        //width: auto;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        overflow-x: hidden;
        flex-grow: 1;



        .menu-item {
            width: auto;
            min-width: max-content;
            max-height: max-content;
            background-color: aliceblue;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            overflow-x: hidden;
            text-decoration: none;

            cursor: pointer;

            &:hover {
                color: rgb(179, 185, 192);
                //background-color: rgb(219, 227, 235);
            }
        }

        @media screen and (min-width:1200px) {
            .menu-item {
                font-size: 20px;
            }
        }

        @media screen and (min-width:1000px) and (max-width:1200px) {
            .menu-item {
                font-size: 18px;
                //font-weight: 900;
            }
        }

        @media screen and (max-width: 999px) {
            .menu-item {
                font-size: 15px;
                font-weight: bold;
            }

            .menu-authentication-buttons {
                width: auto;
                display: flex;
                column-gap: 10px;
                margin-left: auto;

                button {
                    @include defaultButton(50px, 15px)
                }

            }
        }

    }

    .menu-authentication-buttons {
        width: auto;
        display: flex;
        column-gap: 10px;
        margin-left: auto;

        button {
            @include defaultButton(100px, 21px)
        }

    }

    @media screen and (max-width: 999px) {

        .menu-authentication-buttons {
            button {
                @include defaultButton(80px, 15px);
                font-weight: 600;
            }

        }
    }

    .hiden-menu-icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }


        &:hover {
            background-color: rgb(219, 227, 235);
        }

    }

    @media screen and (max-width: 999px) {

        .hiden-menu-icon {
            width: 30px;
            height: 30px;
        }
    }

}