.profile-container {
    position: absolute; // Use absolute positioning
    top: 50%; // Move the container to 50% from the top
    left: 50%; // Move the container to 50% from the left
    transform: translate(-50%, -50%); // Center it precisely
    width: 40%;
    min-width: 400px;
    height: auto; // Adjust height dynamically based on content
    display: flex;
    flex-direction: column;
    align-items: center; // Center items horizontally
    justify-content: center; // Center items vertically
    row-gap: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 20px;
    backdrop-filter: blur(12px);
    color: white;

    .profile-edit-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%; // Ensure the form takes full width of the container

        label {
            color: white;
            display: flex;
            flex-direction: column;
            font-size: 16px;

            input {
                margin-top: 5px;
                padding: 8px 12px;
                border-radius: 8px;
                border: none;
                outline: none;
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
            }
        }

        .avatar-selection {
            p {
                margin-bottom: 8px;
                font-weight: 500;
            }

            .avatar-list {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                .avatar-option {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;
                    border: 2px solid transparent;
                    transition: border 0.2s ease-in-out;

                    &:hover {
                        border-color: rgba(255, 255, 255, 0.3);
                    }

                    &.selected {
                        border-color: #00cfff;
                        box-shadow: 0 0 10px #00cfff;
                    }
                }
            }
        }

        button {
            padding: 10px 15px;
            border-radius: 10px;
            border: none;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            color: white;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            &:hover {
                background: rgba(255, 255, 255, 0.3);
                transform: scale(1.03);
            }
        }
    }
}