.profile-container {
    width: 40%;
    min-width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 20px;
    box-sizing: border-box;

    .main-information {
        height: 30%;
        background-color: aliceblue;
        display: flex;
        padding: 10px 30px;
        box-sizing: border-box;
        column-gap: 10px;

        .avatar {
            width: 100px;
            height: 100px;
            border: 1px solid rgb(43, 150, 221);
            padding: 3px;
            border-radius: 100px;
            box-sizing: border-box;
            background-color: white;
            align-self: center;

            img {
                /*width: 100%;
                height: 100%;*/
                width: 95px;
                height: 95px;
            }
        }

        .name-and-buttons {
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: auto;
            overflow: hidden;


            p {
                width: 100%;
                height: 50%;
                font-size: 23px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .buttons {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: space-evenly;

                button {
                    height: 50%;
                    font-size: 19px;
                    color: white;
                    background-color: rgb(43, 150, 221);
                    border: none;
                    outline: none;
                    padding: 5px 15px;
                    box-sizing: border-box;
                    transition: all 0.3s;

                    p {
                        margin: 0;
                        padding: 0;
                    }

                    &:hover {
                        background-color: rgb(22, 154, 241);
                        border-radius: 7px;
                    }
                }
            }
        }


    }

    .profile-container-information {
        height: 70%;
        background-color: aliceblue;
    }

}